/* Reset CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.footer {
color:rgb(255, 255, 206);
background-color:#161B3F;
padding: 20%;

}


#one_footer{


}


#two_footer{



}



#three_footer {



}