/* Reset CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Footer */

.footer_section {

    background: #1d2149;
    color: #f1dfc5;;
    min-height: 425px;
    padding: 28px 56px 12px;
    position: relative;
}

.foot_container {
    column-count: 3;
}



.footer_column h3 {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 25px;
}


.footer_column ul {
    list-style: none;
}

.footer_column li{
    position: relative;
    padding-left: 20px;
    margin-bottom: 24px;
}

.footer_column li::before{
    position: relative;
    left: 7px;
}

.footer_column p{
    text-decoration:none;
    font-size: 16px;
    font-weight: 600;
    }

  

    .copyright {

    position: absolute;
    bottom: 13px;
    left: 20px;
    font-size: 14px;
    font-weight: 400;
    }