/* Reset CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */

.header {
    background-image: url(Hero_page_1.jpg);
    background-size: cover;
    height: 500px;
    width: 100%;
    
}   


/* Footer */

footer{
    background-color: #29274a;
    width: 100%;
    justify-content: space-evenly;
}


  .column {
    float: left;
    padding: 50px 50px;
    height: 550px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
    font-weight: bolder;
    color: #cebbad;
    line-height: 300%;
    width: 25%;
  }

  .column h3 {
    font-size: large;

  }

  .row {
    display: flex;
    flex-wrap: wrap;
    content: "";
    clear: both;
  }


    .copyright {
    position: relative;
    color: #cebbad;
    bottom: 0px;  
    left: 3%;
    font-size: 14px;
    font-weight: 400;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }